html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #FFFFFF;
}

.date-data_text-editor {
  width: 1000px;
}